ul.autocompleter-choices
{
	position: absolute;
	margin: 0;
	padding: 5px;
	list-style:	none;
	border-top:	1px solid #7c7c7c;
	background-color: #FFFFFF;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	box-shadow: 2px 2px 2px 2px #CCCCCC;
}

ul.autocompleter-choices li
{
	position: relative;
	margin: -2px 0 0 0;
	padding: 0.2em 1.5em 0.2em 1em;
	display: block;
	float: none !important; 
	cursor:	pointer;
	font-weight: normal;
	white-space: nowrap;
	font-size: 1em;
	line-height: 50px;
	height: 50px;
	color: #616060;
}

ul.autocompleter-choices li img {vertical-align: middle;margin-right:10px;border:0;}

ul.autocompleter-choices li.autocompleter-selected
{
	background-color: #FFFFFF;
}

ul.autocompleter-choices li.autocompleter-selected a {color:#6D7B94;}

ul.autocompleter-choices span.autocompleter-queried
{
	display: inline;
	float: none;
	font-weight: bold;
	margin: 0;
  padding: 0;
	color: #6D7B94;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried
{
	color: #6D7B94;
}
